<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tsao.blog.dao.UserDao">

	<select id="get" parameterType="String" resultType="User">
		select * from sec_user where id = #{id}
	</select>
	
	<select id="getByUsername" parameterType="String" resultType="User">
		select * from sec_user where username = #{username}
	</select>

	
</mapper> 